.main-content {
  min-height: calc(100vh - 50px);
  background-color: var(--light-background-color);
  color: white;
  padding-bottom: 4rem;
}

.section {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 25%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.action {
  background-color: var(--primary-color);
  border: none;
  padding: 5px 1rem;
  border-radius: var(--radius-2);
  color: white;
  font-size: var(--body-2);
  font-weight: 600;
  cursor: pointer;
}

.container {
  margin-top: 2rem;
}

.container > button {
  margin-top: 2rem;
}

.title {
  font-size: var(--header-3);
  font-weight: 600;
  margin-bottom: 2rem;
}

.hero {
  height: 20rem;
  background-color: var(--card-background-color);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero > h1 {
  font-size: var(--header-3);
  text-align: center;
}

.img {
  width: 14rem;
  aspect-ratio: 1;
  background-color: var(--light-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--line-light-color);
  position: absolute;
  bottom: -30%;
  left: 25%;
  cursor: default;
}

.img span {
  color: white;
  font-size: 6rem;
  font-weight: 700;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  font-size: var(--body-2);
  color: white;
  margin-right: 1rem;
  margin-top: 1rem;
  width: fit-content;
  cursor: pointer;
}

.content {
  width: 50%;
  margin: 0 auto;
  margin-top: 10rem;
}

.bio {
  font-size: var(--body-2);
}

.portfolio {
  font-size: var(--body-2);
  color: aliceblue;
}

@media (max-width: 1140px) {
  .img {
    left: 50%;
    transform: translate(-50%);
  }

  .section {
    width: 80%;
    margin-top: 6rem;
    flex-direction: column;
    gap: 2rem;
  }
}
