.post {
  background-color: var(--card-background-color);
  padding: 1rem;
  border-radius: var(--radius-2);
  margin: 2rem 0;
}

.header {
  display: flex;
  align-items: center;
}

.header > img {
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.title {
  cursor: pointer;
  font-size: var(--body-1);
  color: white;
  text-decoration: none;
}

.options {
  width: 2rem;
}

.img {
  width: 100%;
  aspect-ratio: 1;
  margin-top: 2rem;
  cursor: pointer;
}

.img > img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-2);
}

.content {
  margin-top: 1rem;
  color: white;
  font-size: var(--body-2);
  cursor: pointer;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actions > button {
  cursor: pointer;
  margin-right: 5px;
  width: fit-content;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions > button:hover {
  background-color: var(--grey-light-color);
}

.options-container {
  cursor: pointer;
  margin-left: auto;
  position: relative;
}

.post-options {
  position: absolute;
  padding: 0.5rem;
  border-radius: var(--radius-3);
  background-color: var(--inactive);
  right: 0;
  top: 1.5rem;
  display: none;
  box-shadow: rgba(126, 125, 125, 0.24) 0px 3px 8px;
}

.option {
  font-size: var(--body-3);
  padding: 5px 1rem;
  border-radius: var(--radius-3);
  font-weight: 600;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.option:hover {
  background-color: var(--grey-light-color);
}

.options-container:hover > .post-options {
  display: block;
}

.comment {
  display: flex;
}

.comment input {
  width: 100%;
  line-height: 3rem;
  background-color: var(--card-background-color);
  border: none;
  outline: none;
  color: white;
  font-size: var(--body-2);
}

.post-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 5px 1rem;
  border-radius: var(--radius-2);
  color: white;
  font-size: var(--body-2);
  font-weight: 600;
  cursor: pointer;
}

.likes p {
  font-size: var(--body-3);
  color: white;
  margin: 1rem 0;
}

.user {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.user-comment {
  color: white;
  font-size: var(--body-3);
  max-width: 100%;
  word-break: break-all;
}

.comments {
  margin: 1rem 0;
}

.all-comments {
  color: var(--grey-light-color);
  text-decoration: none;
  font-size: var(--body-4);
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-container p {
  color: var(--grey-light-color);
  font-size: var(--body-4);
  font-weight: bold;
}

.dp {
  width: 4rem;
  aspect-ratio: 1;
  background-color: var(--light-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-right: 1rem;
}

.dp span {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.display-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
